<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>
    <input type="text">
</body>

</html>

<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
<script>
    firebase.initializeApp({
        apiKey: "AIzaSyCGAZJFbq66VcpRQ3XlEZxjgorDiyZBiX0",
        authDomain: "flutter-f522e.firebaseapp.com",
        projectId: "flutter-f522e",
    });

    var db = firebase.firestore();

    // db.collection("users").add({
    //         first: "Ada",
    //         last: "Lovelace",
    //         born: 1815
    //     })
    //     .then(function(docRef) {
    //         console.log("Document written with ID: ", docRef.id);
    //     })
    //     .catch(function(error) {
    //         console.error("Error adding document: ", error);
    //     });

    db.collection("users").get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
            // console.log(`${doc.id} => ${doc.data()}`);
            // console.log(doc.data())
        });
    });

    db.collection("users").where("first", "==", "hou")
    .onSnapshot(function(querySnapshot) {
        var cities = [];
        querySnapshot.forEach(function(doc) {
            console.log(doc.data())
            cities.push(doc.data().name);
        });
        console.log("Current cities in CA: ", cities.join(", "));
    });
</script>
